body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9; /* slate-100 */
}

#medicationModal.hidden {
    display: none;
}

#sidebar {
    transition: transform 0.3s ease-in-out;
}

.filter-btn.active {
    background-color: #2563eb; /* blue-600 */
    color: white;
    font-weight: 600;
}

/* Estilos para el contenido generado por JS (Prose) */
.prose h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    font-weight: 600;
}

.prose h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 0.5rem;
}

.prose p, .prose li {
    font-size: 1rem;
    line-height: 1.6;
}

.prose strong {
    font-weight: 600;
}

.prose ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}